[//]: # (Exercise 2: Create markdown cell with title of the notebook)
# Data Science Tools and Ecosystem

[//]: # (Exercise 3 - Create a markdown cell for an introduction)
### In this notebook, Data Science Tools and Ecosystem are summarized.

[//]: # (Exercise 4 - Create a markdown cell to list data science languages)
#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

[//]: # (Exercise 5 - Create a markdown cell to list data science libraries)
#### Some of the commonly used libraries used by Data Scientists include:
1. Matploitlib, Python
2. ggplot2, R.
3. GadFly.jl, Julia.

[//]: # (Exercise 6 - Create a markdown cell with a table of Data Science tools)

| Data Science Tools |
| ---------------------- |
| Jupyter Notebook   |
| JupyterLite |
| RStudio |

[//]: # (Exercise 7 - Create a markdown cell introducing arithmetic expression examples)
### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [13]:
# Exercise 9 - Create a code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60
hours, minutes = divmod(200, 60)
print(hours,"hours")

3 hours

[//]: # (Exercise 10 - Insert a markdown cell to list Objectives)
**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science.
- List popular development environments (IDEs).
- Develop your Markdown skills.

[//]: # (Exercise 11 - Create a markdown cell to indicate the Author's name)

## Author
Carlos Rodriguez